In [1]:
import pandas as pd
import numpy as np

In [3]:
s1=pd.Series([10,20,30],index=['A','B','C'])
s1

A    10
B    20
C    30
dtype: int64

In [6]:
s1[0]=100
s1

A    100
B     20
C     30
dtype: int64

In [14]:
s2=pd.Series([80,1000], index=['평균 점수','총점'])

In [15]:
s2.평균 점수

SyntaxError: invalid syntax (<ipython-input-15-10366295970f>, line 1)

In [19]:
s3=pd.Series(np.arange(10))

In [22]:
s3[[2,5,6]]

2    2
5    5
6    6
dtype: int32

In [23]:
s3=pd.Series(np.arange(7), index=['k','j','a','r','s','a','w'])
s3

k    0
j    1
a    2
r    3
s    4
a    5
w    6
dtype: int32

In [24]:
s3[2:5]  # 데이터 값으로 조회시 끝값 포함 x

a    2
r    3
s    4
dtype: int32

In [25]:
s3['j':'s'] # index로 조회시 끝값 포함

j    1
a    2
r    3
s    4
dtype: int32

In [27]:
s4=pd.Series(np.random.randint(10, size=10))
s4

0    9
1    7
2    1
3    7
4    0
5    6
6    3
7    4
8    5
9    5
dtype: int32

In [28]:
s4.unique()

array([9, 7, 1, 0, 6, 3, 4, 5], dtype=int64)

In [30]:
s4.nunique()

8

In [34]:
s5=s4.sort_index()
s5

0    9
1    7
2    1
3    7
4    0
5    6
6    3
7    4
8    5
9    5
dtype: int32

In [44]:
s4.sort_values(ascending=False,inplace=True)

In [40]:
s4

4    0
2    1
6    3
7    4
8    5
9    5
5    6
1    7
3    7
0    9
dtype: int32

In [45]:
s4[4]=None
s4[3]=np.NAN
s4[5]=np.nan
s4

0    9.0
1    7.0
3    NaN
5    NaN
8    5.0
9    5.0
7    4.0
6    3.0
2    1.0
4    NaN
dtype: float64

In [50]:
s4.size, s4.count()

(10, 7)

In [56]:
s4.mean(skipna=False)

nan

In [58]:
s4.quantile(), s4.median()

(5.0, 5.0)

In [65]:
s4.describe().round()

count    7.0
mean     5.0
std      3.0
min      1.0
25%      4.0
50%      5.0
75%      6.0
max      9.0
dtype: float64